__pycache__/
*.py[cod]
*$py.class
*.pyc
.pytest_cache/
.DS_Store
.env
/storage/clips/clip_*.mp4
/storage/clips/thumb_*.jpg
/storage/clips/clip.mp4
/storage/clips/test_*.ts
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
